body {
    background-color: lightpink;
}

h1   {font-size: 20px; color: black}
a   {color: black}
p   {font-size: 12px;color: black}

.myDiv {
    border: 3px outset black;
    background-color: lightpink;
    text-align: center;
    height: 60px;
    width: 25%;
}



.abc {list-style-type: lower-alpha; color:black; font-size: 15px;}
.square {list-style-type: square; color:black; font-size: 15px;}
