body {
    background-color:black;
}

h1   {font-size: 20px; color:white}
a   {color:white}
p   {font-size: 12px;color:green}

.myDiv {
    border: 2px outset:white;
    background-color:black;
    text-align: center;
    height: 100px;
    width: 100px;
}



.abc {list-style-type: lower-alpha; color:white; font-size: 15px;}
.square {list-style-type: square; color:white; font-size: 15px;}
